doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Admin, Aditya, myHUB')
    title Change Password
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Custom styles for this template
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/style-responsive.css', rel='stylesheet')
    link(href='stylesheets/contact.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    style.
      @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
      .header, #sidebar {
      background: #2C3E50;
      }
      span {
      font-size: 14px;
      }
      * {
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;
      }
      html, body {
      background:#FFFFFF;
      }
      .acc-container {
      width:100%;
      margin:30px auto 0 auto;
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      -o-border-radius:8px;
      border-radius:8px;
      overflow:hidden;
      }
      .acc-btn {
      width:100%;
      margin:0 auto;
      padding:20px 25px;
      cursor:pointer;
      background:#34495E;
      border-bottom:1px solid #2C3E50;
      }
      .acc-content {
      height:0px;
      width:100%;
      margin:0 auto;
      overflow:hidden;
      background:#2C3E50;
      }
      .acc-content-inner {
      padding:30px;
      }
      .open {
      height: auto;
      }
      h1 {
      font:700 20px/26px 'Lato', sans-serif;
      color:#ffffff;
      }
      p {
      font:400 16px/24px 'Lato', sans-serif;
      color:#798795;
      }
      .selected {
      color:#1ABC9C;
      }
      body {
      margin: 0;
      padding: 0;
      }
      thead {
      background:
      }
      .personal_details {
      background-color: white;
      margin-bottom:17px;
      width: 100%;
      
      }
      .personal_details h3 { 
      border-bottom: 2px solid #fd9f1b;
      padding-bottom:8px;
      margin-top:5%;
      color:black;
      }
  body
    section#container
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='#')
          b
           img.img-responsive(src='images/education.png',style='height:65px;width:200px;margin-top:-13px')
        // logo end
        .navbar-custom-menu
          ul.top-nav.navbar-right
            // Notification Menu
            // User Menu
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                i.fa.fa-user.fa-lg.pull-right(style='margin: 10px 10px 0 0;font-size: 2.2em;color: #f2815e;')
              ul.dropdown-menu.settings-menu(style="margin-top: 35px")
                li
                  a(href='/help',target='_blank')
                    i.fa.fa-question.fa-lg
                    |  Help
                li
                  a(href='/change')
                    i.fa.fa-cog.fa-lg
                    |  Settings
                li
                  a(href='/logout')
                    i.fa.fa-sign-out.fa-lg
                    |  Logout

      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='#')
                img.img-circle(src='images/user.png', width='80')
            li.mt
              a.active(href='#')
                i.fa.fa-tasks
                span Change Password
            li
              a(href='/home')
                i.fa.fa-arrow-left
                span back
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start
      section#main-content
        section.wrapper.site-min-height
          h3
            i
          .modal-dialog
            .modal-content.col-md-10
              .personal_details
                 h3  Change Password
              form#password_form(method='post', autocomplete='off')
                .modal-body.with-padding
                  .form-group
                    .row
                      .col-sm-10
                        label#name New Password
                        input#npwd.form-control(type='password', name='password', value='')
                        p#cp2
                  .form-group
                    .row
                      .col-sm-10
                        label#name Confirm password
                        input#cpwd.form-control(type='password', name='confirm_pwd', value='')
                        p#cp3
                // end Change Password
                .modal-footer
                  input#changepwd.btn.btn-primary(type='button', name='submit', value='Change Password',style='background-color:#7ACBEE;border:0.5px solid #7ACBEE')
    // js placed at the end of the document so the pages load faster
    script(src='javascripts/jquery.js')
    script(src='javascripts/jquery-ui-1.9.2.custom.min.js')
    script(src='javascripts/jquery.ui.touch-punch.min.js')
    script.include(type='text/javascript', src='javascripts/jquery.dcjqaccordion.2.7.js')
    script(src='javascripts/jquery.scrollTo.min.js')
    script(src='javascripts/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='javascripts/common-scripts.js')
    script(src='javascripts/changepassword.js')
