doctype html
html
  title PageLoader...
  meta(http-equiv='refresh', content='2;url=login')
  head
    link(href='stylesheets/index.css', rel='stylesheet')
  body
    .container
      .loader
        .loader--dot
        .loader--dot
        .loader--dot
        .loader--dot
        .loader--dot
        .loader--dot
        .loader--text